<form method="post" action="{{ path('app_original_car_delete', {'ulid': original_car.ulid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ original_car.ulid) }}">
    <button class="btn">Delete</button>
</form>
