{% extends 'base.html.twig' %}

{% set pageTitle = "New Original Car" %}

{% block body %}
	<h1>Create new OriginalCar</h1>

	{{ include('original_car/_form.html.twig') }}

	<a href="{{ path('app_original_car_index') }}">back to list</a>
{% endblock %}
